In [5]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in d:\softwares\anapy\lib\site-packages (0.4.1)
Requirement already satisfied: six in d:\softwares\anapy\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in d:\softwares\anapy\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in d:\softwares\anapy\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\softwares\anapy\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in d:\softwares\anapy\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: sqlparse in d:\softwares\anapy\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: pygments>=2.4.0 in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: backcall in d:\softwares\anapy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\softwares\anapy\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in d:\softwares\anapy\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in d:\softwares\anapy\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: executing in d:\softwares\anapy\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in d:\softwares\anapy\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in d:\softwares\anapy\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [39]:
import sqlite3
# Create connection with database
con = sqlite3.connect('data_Table.sqlite')
cur = con.cursor()
# Create table required
cur.execute("CREATE TABLE Data_Table1 (City text,Country text, Season text, Temperature float, Rainfall float)")
# Insert values to table
cur.execute("INSERT INTO Data_Table1 VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO Data_Table1 VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Data_Table1 VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO Data_Table1 VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO Data_Table1 VALUES ('London','United Kingdom','Winter',4.2,207.7)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('London','United Kingdom','Spring',8.3,169.6)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('London','United Kingdom','Summer',15.7,157.0)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('London','United Kingdom','Fall',10.4,218.5)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('Cairo','Egypt','Winter',13.6,16.5)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('Cairo','Egypt','Spring',20.7,6.5)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('Cairo','Egypt','Summer',27.7,0.1)") 
cur.execute("INSERT INTO Data_Table1 VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [40]:
cur.execute("Select * from Data_Table1")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [41]:
cur.execute("Select distinct (City) from Data_Table1")
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

In [42]:
cur.execute("Select * from Data_Table1 where Country='India'")
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [43]:
cur.execute("Select * from Data_Table1 where Season='Fall'")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [52]:
cur.execute("Select City,Country,Season from Data_Table1 GROUP BY City HAVING AVG(Rainfall) BETWEEN 200 AND 400")
cur.fetchall()

[]

In [51]:
cur.execute("Select City, Country from Data_Table1 where Season='Fall' GROUP BY City HAVING AVG(Temperature)>20 ORDER BY Temperature")
for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [47]:
cur.execute("Select SUM(Rainfall) from Data_Table1 where City='Cairo'")
cur.fetchall()

[(27.6,)]

In [48]:
cur.execute("Select Season,SUM(Rainfall) from Data_Table1 GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]